* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    width: 100%;          
    min-height: 90vh;     
    padding: 50px;
    background-color: #fff;
    border-radius: 12px;
}

.perfil-foto-img {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.perfil-info {
    display: flex;
    flex-direction: column;
}

.perfil-saudacao {
    font-size: 70px;
    color: #222;
    margin-bottom: 4px;
}

.perfil-subtitulo {
    font-size: 25px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 16px;
}

.perfil-texto {
    color: #000000;
    line-height: 2.0;
    margin-bottom: 100px;
    width: 650px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.perfil-botoes {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: all 200ms ease-in-out;
}

.botao:hover {
    transform: scale(1.08);
}

.botao-resume {
    background-color: #6fa8dc;
    color: #0c6cc5;
    font-weight: bold;
    font-size: large;
}

.botao-projects {
    background-color: #e8a87c;
    color: #c2672a;
    font-weight: bold;
    font-size: large;
}

.botao-contacts {
    background-color: #e78ea9;
    color: #c23962;
    font-weight: bold;
    font-size: large;
}